.content {
  height: 100%;

  &__picture {
    margin-top: 10px;
    text-align: center;
  }

  &__picture img {
    max-height: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .content {

    &__picture img {
      max-height: 140px;
    }
  }

  .profile {
    margin-top: 24px;

    &__logo img {
      width: 120px;
      margin: 10px 30px 10px 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .content {

    &__picture {
      margin-top: 10px;
    }

    &__picture img {
      max-height: 120px;
    }
  }

  .profile {
    margin-top: 30px;

    &__logo img {
      width: 100px;
      margin: 0px 20px 10px 16px;
    }
  }
}