.communication__messages {
  padding: 40px 40px 20px 40px;
  background-color: rgba(237, 239, 245, 0.82);
  height: 100%;
}

.dialogs_box {
  height: 100%;
}

.message {
  display: flex;
  justify-content: start;
  position: relative;
  font-size: 16px;
  margin-top: 20px;
  max-height: 900px ;
  span {
    max-width: 50%;
    padding: 10px 100px 10px 10px;
    background-color: white;
    border-radius: 10px;
  }

  &:before {
    position: absolute;
    content: '';
    left: -14px;
    top: 50%;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: black;
    transform: translateY(-50%);
  }
}

.message_sender {
  display: flex;
  justify-content: end;

  span {
    max-width: 50%;
    padding: 10px 10px 10px 100px;
    background-color: #d7cfc3;
    border-radius: 10px;
  }

  &:before {
    display: none;
  }
  &:after {
    position: absolute;
    content: '';
    right: -14px;
    top: 50%;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: black;
    transform: translateY(-50%);
  }
}

.writeMessage {
  border-top: 1px solid #b6aeae;
  width: 100%;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__area {
    width: 80%;

    textarea {
      padding: 12px;
      width: 100%;
      height: 80px;
      border-radius: 20px;
    }
  }

  &__button{

    button {
      padding: 16px 40px;
      border-radius: 20px;
      background-color: #dac4a7;
      font-weight: 600;
      font-size: 16px;
    }
  }
}